@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254, 253, 240;
  --background-end-rgb: 250, 247, 233;
}

::-moz-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::-webkit-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::selection {
  background: #2a2a2a;
  color: #ffffff; 
}

@media (prefers-color-scheme: dark) {
   :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  } 
  ::-moz-selection {
    background: #bcbcbc;
    color: #000000; /* Change this to your desired text color */
  }
  
  ::-webkit-selection {
    background: #bcbcbc;
    color: #000000; /* Change this to your desired text color */
  }
  
  ::selection {
    background: #bcbcbc;
    color: #000000; /* Change this to your desired text color */
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

