@tailwind base;
@tailwind components;
@tailwind utilities;



::-moz-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::-webkit-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::selection {
  background: #2a2a2a;
  color: #ffffff; 
}

@media (prefers-color-scheme: dark) {
   
  ::-moz-selection {
    background: #f9fafb;
    color: #000000; 
  }
  
  ::-webkit-selection {
    background: #f9fafb;
    color: #000000; 
  }
  
  ::selection {
    background: #f9fafb;
    color: #000000; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

.retro-modal-backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.retro-modal-content {
  background: #1a1a1a;
  color: #f9fafb;
  border: 3px solid #f9fafb;

  padding: 20px;
  max-width: 500px;
  text-align: start;
  font-family: 'Berkeley Mono', monospace; 
}


.my-globe-html-container {
  position: relative;
  z-index: 9999;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
  transform: translate(-50%, -100%); 
}

.my-globe-label {
  color: #f9fafb;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 0px;
}

.my-globe-pin {
  position: relative;
  border: 1px solid transparent; 
  box-sizing: border-box;
}

.my-globe-pin {
  position: relative;        
  width: 5px;                
  height: 5px;
  background-color: #f9fafb; 
}

.my-globe-pin::before {
  content: "";
  position: absolute;
  top: -7.3px;     
  left: -7.4px;
  width: 18px;   
  height: 18px;
  border: 3.5px solid transparent;  
  box-sizing: border-box;
  pointer-events: none;     
}

.my-globe-pin:hover::before {
  border-color: #f9fafb;    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

