@tailwind base;
@tailwind components;
@tailwind utilities;



::-moz-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::-webkit-selection {
  background: #2a2a2a;
  color: #ffffff; 
}

::selection {
  background: #2a2a2a;
  color: #ffffff; 
}

@media (prefers-color-scheme: dark) {
   
  ::-moz-selection {
    background: #f9fafb;
    color: #000000; /* Change this to your desired text color */
  }
  
  ::-webkit-selection {
    background: #f9fafb;
    color: #000000; /* Change this to your desired text color */
  }
  
  ::selection {
    background: #f9fafb;
    color: #000000; /* Change this to your desired text color */
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

